---
import View from "../routes/View.tsx"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>t3conv</title>
  </head>
  <body>
    <div class="w-full h-full absolute">
      <View client:only="solid-js" />
    </div>
  </body>
</html>
